
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

.fade0-7s {
  animation: fade 0.7s ease-in-out;
}

.fade1s {
  animation: fade 1s ease-in-out;
}

.fade1-5s {
  animation: fade 1.5s ease-in-out;
}

.fade2s {
  animation: fade 2s ease-in-out;
}



.preloader svg {
  height: 100%;
}

.preloader circle {
  -webkit-animation: 1.4s ease-in-out infinite both circle-animation;
  animation: 1.4s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #8CDB90;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* // Circle animation. */
@-webkit-keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

